:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #e4f0f6;
  --secondary-color: #ffd9b3;
  --accent-color: #eee;
  --neutral-color: #fefefe;
  --success-color: #e6f4ea;
  --error-color: #fce8e6;
  --warning-color: #fff8e1;
  --button-background-color: var(--secondary-color);
  --button-color: var(--primary-color);
  font-size: 14px;
  --font-size-text: 1rem;
  --font-size-heading: 2.57rem;
  --font-size-small: 0.85rem;
  --font-size-code: 1.125rem;
  --line-height: 1.6;
  --font-weight: 400;
  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--neutral-dark-color);
  --border-radius: 0.5rem;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--neutral-color);
  font-size: var(--font-size-text);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #002b5c;
    --secondary-color: #e64a19;
    --accent-color: #eee;
    --neutral-color: #212121;
    --success-color: #087f23;
    --error-color: #b71c1c;
    --warning-color: #ffa000;
  }
}

@media screen and (min-width: 640px) {
  :root {
    font-size: 16px;
  }
}
